#FF{
    color: aqua;
    background-color: black;
    height: 50px;
    font-size: 20px;
    border: 5px solid rgba(31, 31, 34, 0.993) ;
    border-radius: 18px;
    text-align: center;
    margin:10px 10px;
    padding-top: 30PX;

    }
.dd{
    color: aqua;
    background-color: black;
    font-size: 15px;
    padding: 20px;
    border: 5px double rgb(0, 195, 255);
    border-radius: 18px;
    margin: 10px 10px;
    }
#ss{
    color: aqua;
    background-color: black;
    font-size: 20px;
    text-align: justify;
    padding: 20px;
    border: 5px dotted rgb(0, 195, 255);
    border-radius: 18px;

    }
.blog{
    color: aqua;
    background-color: black;
    font-size: 15px;
    padding: 20px;
    border: 5px double rgb(0, 195, 255);
    border-radius: 18px;
    margin: 10px 10px;
    text-align: justify;
    }
span{
    color: coral;
    }
img{
    padding-left: 43%;
    }
.jj{
    text-align: center;
    color: whitesmoke;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    }